<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="example.dao.JiankangdanganMapper">
  <resultMap id="BaseResultMap" type="example.pojo.Jiankangdangan">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="shijian" jdbcType="VARCHAR" property="shijian" />
    <result column="height" jdbcType="VARCHAR" property="height" />
    <result column="weight" jdbcType="VARCHAR" property="weight" />
    <result column="bmi" jdbcType="VARCHAR" property="bmi" />
    <result column="zuoyanshili" jdbcType="VARCHAR" property="zuoyanshili" />
    <result column="youyanshili" jdbcType="VARCHAR" property="youyanshili" />
    <result column="feihuoliang" jdbcType="VARCHAR" property="feihuoliang" />
    <result column="lidingtiaoyuan" jdbcType="VARCHAR" property="lidingtiaoyuan" />
    <result column="yibaimi" jdbcType="VARCHAR" property="yibaimi" />
    <result column="zongfen" jdbcType="VARCHAR" property="zongfen" />
    <result column="zuoweitiqianqu" jdbcType="VARCHAR" property="zuoweitiqianqu" />
    <result column="yintixiangshang" jdbcType="VARCHAR" property="yintixiangshang" />
    <result column="wushimi" jdbcType="VARCHAR" property="wushimi" />
    <result column="yiqianmi" jdbcType="VARCHAR" property="yiqianmi" />
    <result column="xyyiliaoyh" jdbcType="VARCHAR" property="xyyiliaoyh" />
    <result column="xyyiliaoyhid" jdbcType="INTEGER" property="xyyiliaoyhid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, shijian, height, weight, bmi, zuoyanshili, youyanshili, feihuoliang, lidingtiaoyuan, 
    yibaimi, xyyiliaoyh, xyyiliaoyhid, zongfen, zuoweitiqianqu, yintixiangshang, wushimi, yiqianmi
  </sql>
  <select id="selectByExample" parameterType="example.pojo.JiankangdanganExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_jiankangdangan
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_jiankangdangan
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_jiankangdangan
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="example.pojo.JiankangdanganExample">
    delete from t_jiankangdangan
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="example.pojo.Jiankangdangan">
    insert into t_jiankangdangan (id, shijian, height, 
      weight, bmi, zuoyanshili, 
      youyanshili, feihuoliang, lidingtiaoyuan, 
      yibaimi, xyyiliaoyh, xyyiliaoyhid
      )
    values (#{id,jdbcType=INTEGER}, #{shijian,jdbcType=VARCHAR}, #{height,jdbcType=VARCHAR}, 
      #{weight,jdbcType=VARCHAR}, #{bmi,jdbcType=VARCHAR}, #{zuoyanshili,jdbcType=VARCHAR}, 
      #{youyanshili,jdbcType=VARCHAR}, #{feihuoliang,jdbcType=VARCHAR}, #{lidingtiaoyuan,jdbcType=VARCHAR}, 
      #{yibaimi,jdbcType=VARCHAR}, #{xyyiliaoyh,jdbcType=VARCHAR}, #{xyyiliaoyhid,jdbcType=INTEGER}, #{zongfen}, #{zuoweitiqianqu}, #{yintixiangshang}, #{wushimi}, #{yiqianmi}
      )
  </insert>
  <insert id="insertSelective" parameterType="example.pojo.Jiankangdangan">
    insert into t_jiankangdangan
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="shijian != null">
        shijian,
      </if>
      <if test="height != null">
        height,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="bmi != null">
        bmi,
      </if>
      <if test="zuoyanshili != null">
        zuoyanshili,
      </if>
      <if test="youyanshili != null">
        youyanshili,
      </if>
      <if test="feihuoliang != null">
        feihuoliang,
      </if>
      <if test="lidingtiaoyuan != null">
        lidingtiaoyuan,
      </if>
      <if test="yibaimi != null">
        yibaimi,
      </if>
      <if test="xyyiliaoyh != null">
        xyyiliaoyh,
      </if>
      <if test="xyyiliaoyhid != null">
        xyyiliaoyhid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="shijian != null">
        #{shijian,jdbcType=VARCHAR},
      </if>
      <if test="height != null">
        #{height,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=VARCHAR},
      </if>
      <if test="bmi != null">
        #{bmi,jdbcType=VARCHAR},
      </if>
      <if test="zuoyanshili != null">
        #{zuoyanshili,jdbcType=VARCHAR},
      </if>
      <if test="youyanshili != null">
        #{youyanshili,jdbcType=VARCHAR},
      </if>
      <if test="feihuoliang != null">
        #{feihuoliang,jdbcType=VARCHAR},
      </if>
      <if test="lidingtiaoyuan != null">
        #{lidingtiaoyuan,jdbcType=VARCHAR},
      </if>
      <if test="yibaimi != null">
        #{yibaimi,jdbcType=VARCHAR},
      </if>
      <if test="xyyiliaoyh != null">
        #{xyyiliaoyh,jdbcType=VARCHAR},
      </if>
      <if test="xyyiliaoyhid != null">
        #{xyyiliaoyhid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="example.pojo.JiankangdanganExample" resultType="java.lang.Long">
    select count(*) from t_jiankangdangan
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_jiankangdangan
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.shijian != null">
        shijian = #{record.shijian,jdbcType=VARCHAR},
      </if>
      <if test="record.height != null">
        height = #{record.height,jdbcType=VARCHAR},
      </if>
      <if test="record.weight != null">
        weight = #{record.weight,jdbcType=VARCHAR},
      </if>
      <if test="record.bmi != null">
        bmi = #{record.bmi,jdbcType=VARCHAR},
      </if>
      <if test="record.zuoyanshili != null">
        zuoyanshili = #{record.zuoyanshili,jdbcType=VARCHAR},
      </if>
      <if test="record.youyanshili != null">
        youyanshili = #{record.youyanshili,jdbcType=VARCHAR},
      </if>
      <if test="record.feihuoliang != null">
        feihuoliang = #{record.feihuoliang,jdbcType=VARCHAR},
      </if>
      <if test="record.lidingtiaoyuan != null">
        lidingtiaoyuan = #{record.lidingtiaoyuan,jdbcType=VARCHAR},
      </if>
      <if test="record.yibaimi != null">
        yibaimi = #{record.yibaimi,jdbcType=VARCHAR},
      </if>
      <if test="record.xyyiliaoyh != null">
        xyyiliaoyh = #{record.xyyiliaoyh,jdbcType=VARCHAR},
      </if>
      <if test="record.xyyiliaoyhid != null">
        xyyiliaoyhid = #{record.xyyiliaoyhid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_jiankangdangan
    set id = #{record.id,jdbcType=INTEGER},
      shijian = #{record.shijian,jdbcType=VARCHAR},
      height = #{record.height,jdbcType=VARCHAR},
      weight = #{record.weight,jdbcType=VARCHAR},
      bmi = #{record.bmi,jdbcType=VARCHAR},
      zuoyanshili = #{record.zuoyanshili,jdbcType=VARCHAR},
      youyanshili = #{record.youyanshili,jdbcType=VARCHAR},
      feihuoliang = #{record.feihuoliang,jdbcType=VARCHAR},
      lidingtiaoyuan = #{record.lidingtiaoyuan,jdbcType=VARCHAR},
      yibaimi = #{record.yibaimi,jdbcType=VARCHAR},
      xyyiliaoyh = #{record.xyyiliaoyh,jdbcType=VARCHAR},
      xyyiliaoyhid = #{record.xyyiliaoyhid,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="example.pojo.Jiankangdangan">
    update t_jiankangdangan
    <set>
      <if test="shijian != null">
        shijian = #{shijian,jdbcType=VARCHAR},
      </if>
      <if test="height != null">
        height = #{height,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=VARCHAR},
      </if>
      <if test="bmi != null">
        bmi = #{bmi,jdbcType=VARCHAR},
      </if>
      <if test="zuoyanshili != null">
        zuoyanshili = #{zuoyanshili,jdbcType=VARCHAR},
      </if>
      <if test="youyanshili != null">
        youyanshili = #{youyanshili,jdbcType=VARCHAR},
      </if>
      <if test="feihuoliang != null">
        feihuoliang = #{feihuoliang,jdbcType=VARCHAR},
      </if>
      <if test="lidingtiaoyuan != null">
        lidingtiaoyuan = #{lidingtiaoyuan,jdbcType=VARCHAR},
      </if>
      <if test="yibaimi != null">
        yibaimi = #{yibaimi,jdbcType=VARCHAR},
      </if>
      <if test="xyyiliaoyh != null">
        xyyiliaoyh = #{xyyiliaoyh,jdbcType=VARCHAR},
      </if>
      <if test="xyyiliaoyhid != null">
        xyyiliaoyhid = #{xyyiliaoyhid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="example.pojo.Jiankangdangan">
    update t_jiankangdangan
    set shijian = #{shijian,jdbcType=VARCHAR},
      height = #{height,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=VARCHAR},
      bmi = #{bmi,jdbcType=VARCHAR},
      zuoyanshili = #{zuoyanshili,jdbcType=VARCHAR},
      youyanshili = #{youyanshili,jdbcType=VARCHAR},
      feihuoliang = #{feihuoliang,jdbcType=VARCHAR},
      lidingtiaoyuan = #{lidingtiaoyuan,jdbcType=VARCHAR},
      yibaimi = #{yibaimi,jdbcType=VARCHAR},
      zongfen = #{zongfen}, zuoweitiqianqu = #{zuoweitiqianqu}, yintixiangshang = #{yintixiangshang}, wushimi = #{wushimi}, yiqianmi = #{yiqianmi},
      xyyiliaoyh = #{xyyiliaoyh,jdbcType=VARCHAR},
      xyyiliaoyhid = #{xyyiliaoyhid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>