<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="example.dao.YiliaoyaopingtixingMapper">
  <resultMap id="BaseResultMap" type="example.pojo.Yiliaoyaopingtixing">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="caigout" jdbcType="VARCHAR" property="caigout" />
    <result column="caigoucontent" jdbcType="VARCHAR" property="caigoucontent" />
    <result column="addtime" jdbcType="VARCHAR" property="addtime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, caigout, caigoucontent, addtime
  </sql>
  <select id="selectByExample" parameterType="example.pojo.YiliaoyaopingtixingExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_yiliaoyaopingtixing
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_yiliaoyaopingtixing
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_yiliaoyaopingtixing
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="example.pojo.YiliaoyaopingtixingExample">
    delete from t_yiliaoyaopingtixing
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="example.pojo.Yiliaoyaopingtixing">
    insert into t_yiliaoyaopingtixing (id, caigout, caigoucontent, 
      addtime)
    values (#{id,jdbcType=INTEGER}, #{caigout,jdbcType=VARCHAR}, #{caigoucontent,jdbcType=VARCHAR}, 
      #{addtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="example.pojo.Yiliaoyaopingtixing">
    insert into t_yiliaoyaopingtixing
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="caigout != null">
        caigout,
      </if>
      <if test="caigoucontent != null">
        caigoucontent,
      </if>
      <if test="addtime != null">
        addtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="caigout != null">
        #{caigout,jdbcType=VARCHAR},
      </if>
      <if test="caigoucontent != null">
        #{caigoucontent,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="example.pojo.YiliaoyaopingtixingExample" resultType="java.lang.Long">
    select count(*) from t_yiliaoyaopingtixing
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_yiliaoyaopingtixing
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.caigout != null">
        caigout = #{record.caigout,jdbcType=VARCHAR},
      </if>
      <if test="record.caigoucontent != null">
        caigoucontent = #{record.caigoucontent,jdbcType=VARCHAR},
      </if>
      <if test="record.addtime != null">
        addtime = #{record.addtime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_yiliaoyaopingtixing
    set id = #{record.id,jdbcType=INTEGER},
      caigout = #{record.caigout,jdbcType=VARCHAR},
      caigoucontent = #{record.caigoucontent,jdbcType=VARCHAR},
      addtime = #{record.addtime,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="example.pojo.Yiliaoyaopingtixing">
    update t_yiliaoyaopingtixing
    <set>
      <if test="caigout != null">
        caigout = #{caigout,jdbcType=VARCHAR},
      </if>
      <if test="caigoucontent != null">
        caigoucontent = #{caigoucontent,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="example.pojo.Yiliaoyaopingtixing">
    update t_yiliaoyaopingtixing
    set caigout = #{caigout,jdbcType=VARCHAR},
      caigoucontent = #{caigoucontent,jdbcType=VARCHAR},
      addtime = #{addtime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>